# Renomeie este arquivo para terraform.tfvars e preencha os valores
tenancy_ocid            = "ocid1.tenancy.oc1..xxxxxxxx"
user_ocid               = "ocid1.user.oc1..xxxxxxxx"
compartment_ocid        = "ocid1.compartment.oc1..xxxxxxxx"
fingerprint             = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ssh_public_key_path     = "/home/usuario/.ssh/id_rsa.pub"
api_private_key_path    = "/home/usuario/.oci/oci_api_key.pem"
cloudflare_api_token    = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
discord_webhook_url     = "https://discordapp.com/api/webhooks/*********"
grafana_admin_password  = "sua-senha-super-segura"